body {
font-family: Arial;
color:#4d3e53;
;
background: #ffffff;
margin: 0;
}

header {
<<<<<<< HEAD
    width: 100%;
    min-height: 150px;
    max-height: 300px;
    height: 35vh;
    background-image: url("gambar/m3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
=======
    height: 3cm;            
    padding-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.7); 
    text-align: center;
    display: flex;
    align-items: center;         
    justify-content: center;    
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
>>>>>>> 179e01d63f4841f47dd2debe414b60969b532992
}

.grid {
display: grid;
grid-template-columns: repeat(6, 20fr);
gap: 20px;
padding: 20px;
margin-top: 20px;
}

.card {
background:rgba(217, 217, 217, 0.7);
padding: 15px;
border-radius: 10px;
box-shadow: 0 3px 10px rgba(0,0,0,0.15);
text-align: center;
}

.card img {
width: 100%;
aspect-ratio: 3/4;
object-fit: cover;
border-radius: 10px;
}

button {
padding: 10px;
background: #4d3e53;
color: white;
border: none;
border-radius: 8px;
cursor: pointer;
}
